{% extends 'shared/base.html' %}


{% block title %}about us{% endblock %}

{% block refrence %}
    <link rel="stylesheet" href="/static/css/about-us.css">
{% endblock %}

{% block content %}
<main class="about-us">
<div class="container">
    <div class="about-head">
        <div class="bg-img">
            <img src="/static/images/7747-removebg-preview.png" alt="">
        </div>
        <div class="about-title">
            <h1>درباره ما</h1>
        </div>
    </div>
    <div class="about-body">
        <div class="text col-md-6 shadow">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
            نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
            حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
            رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
            داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
            حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
            گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
        </div>
        <div class="info col-md-4">

            <div class="col1">
                <div class="count-resume count col-md-10 shadow">
                    <i class="fa-solid fa-file"></i>
                    <div class="info-text">
                        <p>تعداد رزومه های ساخته شده تا امروز</p>
                        <p>1,000,000</p>
                    </div>
                </div>

                <div class="count-templates count col-md-10 shadow">
                    <i class="fa-solid fa-gears"></i>
                    <div class="info-text">
                        <p>تعداد قالب ها تا امروز</p>
                        <p>100</p>
                    </div>
                </div>
            </div>

            <div class="count-user count col-md-10 shadow">
                <i class="fa-solid fa-users"></i>
                <div class="info-text">
                    <p>تعداد کاربران تا امروز</p>
                    <p>10,000,000</p>
                </div>
            </div>

        </div>
    </div>

    <div class="about-us-btn">
        <a href="" class="btn btn-primary mt-5 create-resume">ساخت رزومه</a>
    </div>

</div>
</main>
{% endblock %}