{% extends 'shared/base.html' %}


{% block title %}about us{% endblock %}

{% block refrence %}
    <link rel="stylesheet" href="/static/css/about-us.css">
{% endblock %}

{% block content %}
<main class="about-us">
<div class="container">
    <div class="about-head">
        <div class="bg-img">
            <img src="{{ about_settings.image.url }}" alt="">
        </div>
        <div class="about-title">
            <h1>درباره ما</h1>
        </div>
    </div>
    <div class="about-body">
        <div class="text col-md-6 shadow">{{ about_settings.text }}</div>
        <div class="info col-md-4">

            <div class="col1">
                <div class="count-resume count col-md-10 shadow">
                    <i class="fa-solid fa-file"></i>
                    <div class="info-text">
                        <p>تعداد رزومه های ساخته شده تا امروز</p>
                        <p>1,000,000</p>
                    </div>
                </div>

                <div class="count-templates count col-md-10 shadow">
                    <i class="fa-solid fa-gears"></i>
                    <div class="info-text">
                        <p>تعداد قالب ها تا امروز</p>
                        <p>100</p>
                    </div>
                </div>
            </div>

            <div class="count-user count col-md-10 shadow">
                <i class="fa-solid fa-users"></i>
                <div class="info-text">
                    <p>تعداد کاربران تا امروز</p>
                    <p>10,000,000</p>
                </div>
            </div>

        </div>
    </div>

    <div class="about-us-btn">
        <a href="" class="btn btn-primary mt-5 create-resume">ساخت رزومه</a>
    </div>

</div>
</main>
{% endblock %}