{% extends 'shared/base.html' %}

{% block title %}
home page
{% endblock %}

{% block refrence %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    <script src="/static/js/jssor.slider-28.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.jssor_1_slider_init = function() {

            var jssor_1_options = {
              $AutoPlay: 1,
              $SlideWidth: 400,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $SpacingX: 16,
                $SpacingY: 16
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 980;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>
    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 051 css*/
        .jssorb051 .i {position:absolute;cursor:pointer;}
        .jssorb051 .i .b {fill:#fff;fill-opacity:0.3;}
        .jssorb051 .i:hover .b {fill-opacity:.7;}
        .jssorb051 .iav .b {fill-opacity: 1;}
        .jssorb051 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
    </style>
{% endblock %}


{% block content %}
<main class="home-page">

<div class="container">

    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1290 320">
        <path fill="#0099ff" fill-opacity=".6"
            d="M0,32L80,37.3C160,43,320,53,480,101.3C640,149,800,235,960,277.3C1120,320,1280,320,1360,320L1440,320L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg> -->

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-200 -10 1440 320">
        <path fill="#0099ff" fill-opacity=".7"
            d="M0,288L48,256C96,224,192,160,288,133.3C384,107,480,117,576,149.3C672,181,768,235,864,224C960,213,1056,139,1152,106.7C1248,75,1344,85,1392,90.7L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
        </path>
    </svg>

    <div class="row">
        <div class="intro">

            <div class="intro-content">
                <div class="title">
                    رزومه ساز علی
                </div>

                <div class="desc mt-3">
                    با رزومه ساز علی در کمتر از 10 دقیقه رزومه خود را بسازید
                </div>

                {% if user.is_authenticated %}
                    <a href="{% url 'create_resume-page' %}" class="btn btn-primary mt-5 p-2 w-75">ساخت رزومه</a>

                {% else %}
                    <a href="{% url 'login-page' %}" class="btn btn-primary mt-5 p-2 w-75">ساخت رزومه</a>
                {% endif %}

            </div>

            <div class="intro-image ">
                <img src="{{ home_settings.home_page_image.url }}" alt="">
            </div>


        </div>

        <div class="status {% if not home_settings.show_counter  %} deactive {% endif %}">
            <p>1000 تعداد رزومه های ساخته شده امروز <i class="spinner-grow spinner-grow-sm text-primary"></i>
            </p>
        </div>

        <div class="scroll-down">
            <a href="#resume-sec"><img src="/static/images/scroll-down-1-2.gif" alt=""></a>
        </div>
    </div>

    <div class="row resume-row row-title" id="resume-sec">

        <h2>قالب های رزومه</h2>

        <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1200px;height:550px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:500px;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1200px;height:550px;overflow:hidden;">

            <div class="resume-samples">
                <img data-u="image" src="/static/images/resume1.png" />
            </div>
            <div class="resume-samples">
                <img data-u="image" src="/static/images/resume2.png" />
            </div>
            <div class="resume-samples">
                <img data-u="image" src="/static/images/resume3.jpg" />
            </div>
            <div class="resume-samples">
                <img class="shadow" data-u="image" src="/static/images/resume4.jpg" />
            </div><div class="resume-samples">
                <img class="shadow" data-u="image" src="/static/images/resume4.jpg" />
            </div><div class="resume-samples">
                <img class="shadow" data-u="image" src="/static/images/resume4.jpg" />
            </div>

        </div>
        </div>


        <div class="more-resume-btn">
            <a href="" class="btn btn-outline-primary col-md-3">نمایش همه رزومه ها</a>
        </div>

    </div>

    <div class="row mb-5">
        <p class="row-title">چرا باید از رزومه ساز علی استفاده کنم؟</p>
        <div class="cards">

            <div class="card-item border">
                <div class="card-item-icon">
                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                </div>
                <h5>QR تعریف</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, in!</p>
            </div>

            <div class="card-item border">
                <div class="card-item-icon">
                    <i class="fa-solid fa-language"></i>
                </div>
                <h5>قابلیت چند زبانه</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, in!</p>
            </div>

            <div class="card-item border">
                <div class="card-item-icon">
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
                <h5>اشتراک گذاری آنلاین</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, in!</p>
            </div>

            <div class="card-item border">
                <div class="card-item-icon">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <h5>اشتراک گذاری نمونه کار</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, in!</p>
            </div>


        </div>
    </div>

    <div class="row create-resume">
        <p>!همین الان قالب دلخواهتو انتخاب کن و تو کمتر از 10 دقیقه رزومتو بساز</p>
        <a href="" class="btn btn-primary">ساخت رزومه</a>
    </div>

    <div class="row blog-row row-title">
        <h2>بلاگ ها</h2>
        <div class="blogs-list">

            <a href="" class="blog-item border border-1 shadow">

                <div class="blog-image">
                    <img src="/static/images/blog1.jpeg" alt="">
                </div>

                <div class="blog-body">
                    <h5>لورم ایپسوم متن</h5>
                </div>

            </a>
            <a href="" class="blog-item border border-1 shadow">

                <div class="blog-image">
                    <img src="/static/images/blog2.jpeg" alt="">
                </div>

                <div class="blog-body">
                    <h5>لورم ایپسوم متن</h5>
                </div>

            </a>

            <a href="" class="blog-item border border-1 shadow">

                <div class="blog-image">
                    <img src="/static/images/blog1.jpeg" alt="">
                </div>

                <div class="blog-body">
                    <h5>لورم ایپسوم متن</h5>
                </div>

            </a>
            <a href="" class="blog-item border border-1 shadow">

                <div class="blog-image">
                    <img src="/static/images/blog2.jpeg" alt="">
                </div>

                <div class="blog-body">
                    <h5>لورم ایپسوم متن</h5>
                </div>

            </a>

        </div>
    </div>

</div>


</main>

{% endblock %}

{% block footer-refrence %}
        <script type="text/javascript">jssor_1_slider_init();
    </script>
{% endblock %}