{% load render_partial %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'shared/header_refrence_partial.html' %}
    {% block refrence %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% render_partial 'Home_page.views.site_header_component' %}

    {% block content %}{% endblock %}

    {% render_partial 'Home_page.views.site_footer_component' %}
</body>
    {% include 'shared/footer_refrence_partial.html' %}
</html>