<footer>
    <div class="footer-list">

        <div class="footer-info">
            <div class="logo">
                <a href="">
                    <span>j<span>oblax</span></span>
                </a>
            </div>
            <ul class="social-medias">
                <li>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
            </ul>
            <div class="footer-License">
                <img src="/static/images/zarinpal-badge.png" alt="">
            </div>
        </div>

        <div class="footer-guide">

            {% for footer_link_box in footer_link_boxes %}
                <div class="footer-item">
                    <h6>{{ footer_link_box.title }}</h6>
                    <ul>
                        {% for footer_link in footer_links %}
                            {% if footer_link.footer_link_box.title == footer_link_box.title %}
                                <li>
                                    <a href="{{ footer_link.url }}">
                                        {{ footer_link.title }}
                                    </a>
                                </li>
                            {% endif %}

                        {% endfor %}

                    </ul>
                </div>
            {% endfor %}





        </div>

    </div>
</footer>