<footer>
    <div class="footer-list">

        <div class="footer-info">
            <img src="../images/BMW_logo_(gray).jpg" alt="">
            <ul class="social-medias">
                <li>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>

                <li>
                    <a href="">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
            </ul>
            <div class="footer-License">
                <img src="../images/zarinpal-badge.png" alt="">
            </div>
        </div>

        <div class="footer-guide">

            <div class="footer-item">
                <h6>lorem</h6>
                <ul>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                </ul>
            </div>

            <div class="footer-item">
                <h6>lorem</h6>
                <ul>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>