{#<header class="fixed-top bg-white p-2 border-bottom">#}
{##}
{#    <div class="container mt-2 headder-container">#}
{##}
{#        <div class="header-btns">#}
{#            {% if not user.is_authenticated %}#}
{#                <a href="{% url 'register-page' %}" class="btn btn-outline-primary register pt-2">ثبت نام / ورود</a>#}
{#                {% else %}#}
{##}
{#                    <div class="dropdown">#}
{#                        <button class="btn w-100 rounded-circle dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" >#}
{##}
{#                            {% if user_avatar %}#}
{#                                <img src="{{ user_avatar.url }}" class="main-user-profile" alt="">#}
{##}
{#                            {% else %}#}
{#                                <img src="/static/images/icons8-male-user-96.png" class="main-user-profile" alt="">#}
{##}
{##}
{#                            {% endif %}#}
{##}
{#                        </button>#}
{##}
{#                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">#}
{#                            <a class="dropdown-item" href="{% url 'profile-page' %}">رزومه</a>#}
{#                            <a class="dropdown-item" >حساب کاربری</a>#}
{#                            <a class="dropdown-item text-danger" href="{% url 'logout-page' %}">خروج</a>#}
{#                        </div>#}
{#                    </div>#}
{#            {% endif %} #}
{##}
{#        </div>#}
{##}
{#        <div class="nav-section">#}
{##}
{#            <ul class="nav nav-tab">#}
{##}
{#                <li class="nav-item">#}
{#                    <a href="{% url 'about-page' %}" class="nav-link">درباره ما</a>#}
{#                </li>#}
{##}
{#                <li class="nav-item">#}
{#                    <a href="{% url 'contact-page' %}" class="nav-link">تماس با ما</a>#}
{#                </li>#}
{##}
{#                <li class="nav-item">#}
{#                    <a href="{% url 'blogs-page' %}" class="nav-link">بلاگ</a>#}
{#                </li>#}
{##}
{#                <li class="nav-item">#}
{#                    <a href="{% url 'create_resume-page' %}" class="nav-link">ساخت رزومه</a>#}
{#                </li>#}
{##}
{#            </ul>#}
{##}
{##}
{#            <div class="logo">#}
{#                <a href="{% url 'home-page' %}">#}
{#                    <img src="/static/images/download-removebg-preview.png" class="w-100" alt="">#}
{#                    <span>j<span>oblax</span></span>#}
{#                </a>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{##}
{#</header>#}

    <header id="topnav" class="defaultscroll sticky">
            <div class="container">

                <!-- Logo container-->
                <div class="logo">
                    <a href="{% url 'home-page' %}">
{#                        <img src="/static/images/download-removebg-preview.png" class="w-100" alt="">#}
                        <span>j<span>oblax</span></span>
                    </a>
               </div>
                <!-- End Logo container-->
                <div class="menu-extras mt-3">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'register-page' %}" class="btn btn-outline-primary register pt-2">ثبت نام / ورود</a>
                        {% else %}

                            <div class="dropdown">
                                <button class="btn w-100 rounded-circle dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" >

                                    {% if user_avatar %}
                                        <img src="{{ user_avatar.url }}" class="main-user-profile" alt="">

                                    {% else %}
                                        <img src="/static/images/icons8-male-user-96.png" class="main-user-profile" alt="">


                                    {% endif %}

                                </button>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a class="dropdown-item" href="{% url 'profile-page' %}">رزومه</a>
                                    <a class="dropdown-item" >حساب کاربری</a>
                                    <a class="dropdown-item text-danger" href="{% url 'logout-page' %}">خروج</a>
                                </div>
                            </div>
                    {% endif %}

                </div>

                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li><a href="{% url 'about-page' %}" class="sub-menu-item">درباره ما</a></li>
                        <li class="has-submenu parent-parent-menu-item">
                            <a href="{% url 'contact-page' %}" class="sub-menu-item">تماس با ما</a></span>
                        </li>

                        <li class="has-submenu parent-parent-menu-item">
                            <a href="{% url 'blogs-page' %}" class="sub-menu-item">بلاگ</a></span>
                        </li>
                        <li class="has-submenu parent-menu-item">
                            <a href="{% url 'create_resume-page' %}" class="sub-menu-item">ساخت رزومه</a></span>
                        </li>
                    </ul><!--end navigation menu-->

                </div><!--end navigation-->


            </div><!--end container-->
    </header>