{% extends 'shared/base.html' %}

{% block title %}register{% endblock %}

{% block refrence %}
    <link rel="stylesheet" href="/static/css/login&register.css">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
                <div class="page col-md-12">
                    <img src="/static/images/Computer login-rafiki.png" alt="">
                    <div class="forms shadow-lg">
                        <p class="form-title">ثبت نام</p>
                        <form action="" method="get">
                            <label for="">ایمیل</label>
                            <input type="email" name="" id="" class="email" >
                            <label for="">کلمه عبور</label>
                            <input type="password" name="" id="password" class="password">
                            <label for="">تکرار کلمه عبور</label>
                            <input type="password" name="" id="confirm-password" class="confirm-password">
                            <button type="submit" class="btn btn-primary rounded">ثبت نام</button>
                        </form>
                        <button onclick="showpass('confirm-password')" class="show-confirm-password">
                            <i class="fa-solid fa-eye-slash" id="confirm-password-icon"></i>
                        </button>
                        <button onclick="showpass('password')" class="show-password">
                            <i class="fa-solid fa-eye-slash" id="password-icon"></i>
                        </button>
                    </div>
                </div>

        </div>
    </main>
{% endblock %}