{% extends 'shared/base.html' %}

{% block title %}
register
{% endblock %}

{% block refrence %}
    <link rel="stylesheet" href="/static/css/login&register.css">
    <style>.show-password{
    border: none;
    width: 10%;
    height: 10%;
    background-color: #f4f5f8;
    position: relative;
    bottom: 205px;
    left: 340px;
    outline: none;
}
    </style>
{% endblock %}

{% block content %}
<main>
        <div class="container">
                <div class="page col-md-12">
                    {{ forms.email.errors }}
                    {{ forms.password.errors }}

                    <img src="/static/images/Computer login-rafiki.png" alt="">
                    <div class="forms shadow-lg">
                        <p class="form-title">ورود به حساب کاربری</p>
                        <form action="{% url 'login-page' %}" method="POST" class="mt-4">
                            {% csrf_token %}
                            <label for="">ایمیل</label>
                            {{ forms.email }}
                            <label for="">کلمه عبور</label>
                            {{ forms.password }}
                            <button type="submit" class="btn btn-primary rounded">ورود</button>
                            <div class="pages d-flex justify-content-between flex-row-reverse mt-5">
                                <span class="text-end">حساب کاربری ندارید؟ <a href="{% url 'register-page' %}" class="text-primary text-end d-inline">ثبت نام</a></span>
                                <span><a href="{% url 'forgot-page' %}" class="text-primary text-start d-inline">فراموشی رمز عبور</a></span>
                            </div>
                        </form>

                        <button onclick="showpass('password')" class="show-password">
                            <i class="fa-solid fa-eye-slash" id="password-icon"></i>
                        </button>
                    </div>
                </div>
                
        </div>
    </main>
{% endblock %}


{% block footer-refrence %}
    <script src="/static/js/password-inputs.js"></script>
{% endblock %}