{% extends 'shared/base.html' %}

{% block title %}
register
{% endblock %}

{% block refrence %}
    <link rel="stylesheet" href="/static/css/login&register.css">
{% endblock %}

{% block content %}
<main>
        <div class="container">
                <div class="page col-md-12">
                    {{ forms.email.errors }}
                    {{ forms.password.errors }}

                    <img src="/static/images/Computer login-rafiki.png" alt="">
                    <div class="forms shadow-lg">
                        <p class="form-title">ورود به حساب کاربری</p>
                        <form action="{% url 'login-page' %}" method="POST" class="mt-4">
                            {% csrf_token %}
                            <label for="">ایمیل</label>
                            {{ forms.email }}
                            <label for="">کلمه عبور</label>
                            {{ forms.password }}
                            <button type="submit" class="btn btn-primary rounded">ورود</button>
                        </form>
{#                        <button onclick="showpass('confirm-password')" class="show-confirm-password">#}
{#                            <i class="fa-solid fa-eye-slash" id="confirm-password-icon"></i>#}
{#                        </button>#}
                        <button onclick="showpass('password')" class="show-password">
                            <i class="fa-solid fa-eye-slash" id="password-icon"></i>
                        </button>
                    </div>
                </div>
                
        </div>
    </main>
{% endblock %}


{% block footer-refrence %}
    <script src="/static/js/password-inputs.js"></script>
{% endblock %}