{% extends 'shared/base.html' %}

{% block title %}
register
{% endblock %}

{% block refrence %}
    <link rel="stylesheet" href="/static/css/login&register.css">
{% endblock %}

{% block content %}
<main>
        <div class="container">
                <div class="page col-md-12">
                    {{ forms.password.errors }}
                    {{ forms.confirm_password.errors }}
                    {{ forms.email.errors }}

                    <img src="/static/images/Computer login-rafiki.png" alt="">
                    <div class="forms shadow-lg">
                        <p class="form-title">ثبت نام</p>
                        <form action="{% url 'register-page' %}" method="POST">
                            {% csrf_token %}
                            <label for="">ایمیل</label>
                            {{ forms.email }}
                            <label for="">کلمه عبور</label>
                            {{ forms.password }}
                            <label for="">تکرار کلمه عبور</label>
                            {{ forms.confirm_password }}
                            <button type="submit" class="btn btn-primary rounded">ثبت نام</button>
                            <p class="text-end p-4">حساب کاربری دارید؟ <a href="{% url 'login-page' %}" class="text-primary text-end d-inline">ورود</a></p>
                        </form>

                        <button onclick="showpass('confirm-password')" class="show-confirm-password">
                            <i class="fa-solid fa-eye-slash" id="confirm-password-icon"></i>
                        </button>
                        <button onclick="showpass('password')" class="show-password">
                            <i class="fa-solid fa-eye-slash" id="password-icon"></i>
                        </button>

                    </div>
                </div>
                
        </div>
    </main>
{% endblock %}


{% block footer-refrence %}
    <script src="/static/js/password-inputs.js"></script>
{% endblock %}