{% extends 'shared/base.html' %}
{% load thumbnail %}

{% block title %}
blogs
{% endblock %}

{% block refrence %}
    <link rel="stylesheet" href="/static/css/blog.css">
{% endblock %}

{% block content %}
<main id="header">
        <div class="container">
            <div class="row col-md-12">
                <div class="blog-table col-md-12">

                    <div class="main-blog col-md-12">
                        <div id="carouselExampleIndicators" data-interval="100" class="carousel slide" data-bs-ride="carousel">

                            <div class="carousel-inner">

                                {% for slider_blog in slider_blogs %}

                                    <div class="carousel-item {% if slider_blogs.0 == slider_blog %} active{% endif %}" data-bs-interval="1000">
                                        {% thumbnail slider_blog.image "1272x400" quality=75 crop=center as im %}
                                        <img src="{{ im.url }}" class="d-block" alt="...">
                                        {% endthumbnail %}
                                        <a href="{% url 'blog-detail-page' slider_blog.id %}">
                                            <span class="carousel-caption text-white">{{ slider_blog.title }}</span>
                                        </a>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>


                    <div class="side-blogs col-md-4">

                        {% for random_blog in random_blogs %}

                            <div class="items col-md-4">
                            {% thumbnail random_blog.image "424x200" quality=75 crop=center as im %}
                                <img src="{{ im.url }}" class="w-100" alt="">
                            {% endthumbnail %}
                                <a href="{% url 'blog-detail-page' random_blog.id %}">
                                    <p>{{ random_blog.title }}</p>
                                </a>
                            </div>

                        {% endfor %}

                    </div>

                </div>
            </div>
            <div class="row-title">
                <h2>آخرین بلاگ</h2>
            </div>
            <div class="row col-md-12 blog-main">
                <div class="blogs-list col-md-10">


                    {% for object in object_list %}
                        <div class="blog-item shadow">
                            {% thumbnail object.image "262x175" quality=75 crop=center as im %}
                                <a href="{% url 'blog-detail-page' object.id %}"><img class="blog-item-image" src="{{ im.url }}" alt=""></a>
                            {% endthumbnail %}
                            <h5><a href="{% url 'blog-detail-page' object.id %}">{{ object.title }}</a></h5>

                            <div class="blog-item-footer col-md-12">
                                <div class="user">
                                    <a href="{% url 'users_profile' object.author.username %}">
                                        <img src="{{ object.author.avatar.url }}" alt="">
                                        <span>{{ object.author.get_full_name }}</span>
                                    </a>
                                </div>

                                <div class="tag">
                                    <a href="{% url 'blogs-page' %}?filter={{ object.category.first.url_title }}">
                                        <p>{{ object.category.first }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}





                </div>

                <div class="sidepage col-md-2">

                    <div class="category side-tags mt-5">
                        <div class="head">
                            <span>دسته بندی ها</span>
                            <i class="fa-solid fa-list"></i>
                        </div>
                        <hr>
                        <div class="body">
                            <ul>
                                {% for category in categories %}

                                    <li>
                                        <a class="{% if filter == category.url_title %}active{% endif %}"
                                           href="{% url 'blogs-page' %}?filter={{ category.url_title }}">
                                            <span>{{ category.title }}</span>
                                        </a>
                                    </li>
                                
                                {% endfor %}
                                

                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="paging">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angles-right"></i></a></li>
                    {% endif %}

                    {% for page in paginator.page_range %}
                        <li class="page-item {% if page_obj.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angles-left"></i></a></li>
                    {% endif %}

                </ul>
            </nav>
        </div>

    </main>
{% endblock %}